html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background: url("../images/lil_fiber.png");
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.l-header {
  text-align: center;
  margin: 0 auto;
  padding: 16px 0 12px;
  box-shadow: 1px 0 4px -1px #999;
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 1; /* ensure its drop-shadow stacks above the position:sticky sidebar header */
}

.l-main {
  flex: 1;
  display: flex;
}

.l-leftpane {
  flex: 0 0 30%;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  overflow-y: scroll;
}

.l-centerpane {
  flex: 1;
  padding: 0 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-family: "Noticia Text", Georgia, serif;
  font-size: 1.375rem;
  line-height: 1;
  margin: 0;
}
.page-subtitle {
  font-size: 11px;
}
.presets {
  padding: 1rem 0;
  display: flex;
}
.presets__desc {
  font-size: 13px;
  padding: 4px 12px 0 0;
}

.preset {
  border: none;
  font-size: 13px;
  padding: 4px 12px;
  margin-bottom: 4px;
  box-shadow: 0 1px 3px -1px #999;
}
.preset:hover {
  background-color: mintcream;
}
.preset:active {
  background-color: mintcream;
  box-shadow: none;
}

.formatfield {
  width: 100%;
  padding: 0 0 2rem;
  margin: 0 auto;
}
.formatfield__label {
  display: block;
  font-size: 11px;
  color: #666;
  padding: 0 0 2px 2px;
}
.formatfield__input {
  width: 100%;
  font-size: 2.25rem;
  padding: 3px;
}

.formatcases__bothcol {
  display: flex;
  justify-content: center;
}
.formatcases__after {
  width: 50%;
}

.formatcases__columnlabel {
  font-size: 18px;
  color: #666;
  padding: 0 0 2px 0;
  text-align: center;
}

.formatcases__aftertable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.formatcases__aftertable td {
  border: 1px solid #ccc;
  border-left-width: 0;
  background-color: #e8e8e8;
  padding: 0 24px;
  height: 46px;
  width: 50%;
  font-size: 30px;
  white-space: nowrap;
}
.formatcases__aftertable span {
  position: relative;
  height: 100%;
}

.formatcases__aftertable span:before {
  position: absolute;
  content: "→";
  left: -40px;
  color: #888;
  z-index: 1; /* displays it above table input */
}
.formatcases__aftertable span:empty:before {
  display: none;
}

.handsontable td {
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.handsontableInput {
  /* a tiny hack to ensure the text is aligned with the table cell's vertical-align: middle */
  line-height: 44px;
}

.footer {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 1rem 0;
}
.footer a:link {
  color: #999;
}
.footer a:visited {
  color: #999;
}
.footer a:hover {
  color: #999;
}
.footer a:active {
  color: #999;
}

.sidebar {
  padding: 0 1rem 2rem;
  color: #555;
}
.sidebar h2 {
  font-size: 16px;
  font-weight: bold;

  /* sticky styles */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin: 0;
  padding: 12px 0 8px;
  background-color: #fafafa;
}
.sidebar h3 {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.sidebar p {
  font-size: 14px;
}

.reftable {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}
.reftable th,
.reftable td {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  text-align: left;
  padding: 0 2px;
}
.reftable__note {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

.takeover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.takeover__close {
  border: none;
  background: none;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 1rem;
}
.takeover--visible {
  display: block;
}
.takeover__content {
  padding: 2rem 3rem;
}
.takeover h2 {
  font-size: calc(48px + 3vw);
  text-align: center;
  margin: 1.5vw 0;
}
.takeover p {
  font-size: calc(22px + 1.5vw);
}
.takeover li {
  font-size: calc(18px + 1.5vw);
}
.takeover a:link {
  color: #82a2bc;
}
.takeover a:visited {
  color: #82a2bc;
}
.takeover a:hover {
  color: #82a2bc;
}
.takeover a:active {
  color: #82a2bc;
}
